<!DOCTYPE>
<head>
  <link rel="stylesheet" type= "text/css" href="credit.css">
    
</head>
<header id="showcase">
    
    <h1>Welcome To CodeRunner </h1>
    <p>Kevin Cerda, Juwan Smith, Carlos Ruiz, and Frank Alvarado</p>
    <a href="#" class="button"> Start game</a>
  </header>
  <section id="section-a">
    <p>ABOUT US: We are a group of future programmers that area a part of the Google-CSSI program at North Eastern Illinois University. We have a teamed University. We have teamd together to create this coding trivia game with the intent to provide a fun educational experience for the user. </p>
  </section>
  <section id="section-b">
    <p>Contact us </p>
  </section>
  <section id="section-c">
    <div class="box-1">
    
    </div>
    <div class="box-2">
   
    </div>
    <div class="box-3">
    
    </div>
  </section>