<!DOCTYPE html>
<head>
    
    
  <link rel="stylesheet" href="static/Game.css">

</head>
<body>
    <div id="img">      
        <img src="static/logo.png" style="height: 300px; width: 400px;"></div>
    
    <div id="allthethings">
        
      <div id="single"><a href="/Html" style="text-decoration: none">HTML</a> </div> 
            
      <div id="multiplayer"><a href="/JavaScript" style="text-decoration: none">JavaScript</a></div>
        
      <div id="Python"><a href="/Python" style="text-decoration: none">Python</a></div>
        
      <div id="Credits"><a href="/Credits" style="text-decoration: none">Credit</a></div>

    </div>
</body>