<!DOCTYPE>
<head>
    
    
  <link rel="stylesheet" href="testing1.css">

</head>
<body>
    <div id="img">      
        <img src="../images/logo.png" style="height: 300px; width: 400px;"></div>
    
<div id="allthethings">
	<div id="single"><a href="https://www.google.com/" style="text-decoration: none">HTML</a> </div> 
        
  <div id="multiplayer"><a href="https://www.google.com/" style="text-decoration: none">JavaScript</a></div>
  <div id="Python"><a href="https://www.google.com/" style="text-decoration: none">Python</a></div>
      <div id="Credits"><a href="https://www.google.com/" style="text-decoration: none">Credit</a></div>

</div>
</body>