<!DOCTYPE>
<head>
    
    
  <link rel="stylesheet" href="testing1.css">

</head>
<body>
    <div id="img">      
        <img src="logo.png" style="height: 300px; width: 400px;"></div>
    
<div id="allthethings">
    <div><a href="http://www.yahoo.com">Beginners</a> </div> 
	<div id="single"><a href="http://www.yahoo.com">Beginners</a> </div> 
        
  <div id="multiplayer"><a href="http://www.yahoo.com">Mid-Expert</a></div>
  <div id="Credits"><a href="http://www.yahoo.com">Credit</a></div>
    
</div>
</body>