<!DOCTYPE html>

<head>


   <link rel="stylesheet" href="/static/html.css"> 
<style>
  .the-flex-class{
    display:flex;
    justify-content: space-around;
  
  }
    .the-flex-class>div{
        margin: 3%;
        width: 30%;
    }
</style>

</head>

<body>
    <a href="/" style="color: maroon"> Back </a>
    
  <div id="img">
    <img src="static/logo.png" style="height: 300px; width: 400px;"></div>

  <div id="Java script"> </div>

  <div id="allthethings" class="the-flex-class">

    <div>
      <section id="section-c">
        <p>{{questionC}}</p>
      </section>

      <div id="single">{{answerC1}} </div>
<br>
      <div id="multiplayer">{{answerC2}}</div>
<br>
      <div id="c3">{{answerC3}}</div>
<br>
    </div>

    <div>
      <section id="section-b">
        <p>{{questionB}}</p>
      </section>


      <div id="box1">{{answerB1}}</div>
<br>
      <div id="box2">{{answerB2}}</div>
<br>
      <div id="box3">{{answerB3}}</div>
<br>
    </div>

    <div>

      <section id="section-a">
        <p>{{questionA}}</p>
      </section>

      <div id="code1">{{answerA1}}</div>
<br>
      <div id="code2">{{answerA2}}</div>
<br>
      <div id="code3">{{answerA3}}</div>
<br>
    </div>



  </div>
</body>