<!DOCTYPE html>
<head>
    
    
  <link rel="stylesheet" href="static/html.css">

</head>
<body>
    <div id="img">      
        <img src="static/logo.png" style="height: 300px; width: 400px;"></div>
    
    <div id="Java script"> </div>
    
<div id="allthethings">
    
    <div id="Javascript"><a href="" style="text-decoration: none">html</a> </div> 
    
	<div id="single">{{answerC1}} </div> 
        
  <div id="multiplayer">{{answerC2}}</div>
    
    <div id="Credits">{{answerC3}}</div>
    
 <div id="box1">{{answerB1}}</div>
    
<div id="box2">{{answerB2}}</div>
    
 <div id="box3">{{answerB3}}</div>
    
 <div id="code1">{{answerA1}}</div>
    
<div id="code2">{{answerA2}}</div>
    
 <div id="code3">{{answerA3}}</div>
<section id="section-a">
<p>{{questionA}}</p>
  </section>

<section id="section-b">
<p>{{questionB}}</p>
  </section>

<section id="section-c">
<p>{{questionC}}</p>
  </section>

</div>
</body>