<!DOCTYPE html>

<head>


   <link rel="stylesheet" href="/static/html.css"> 
<style>
  .the-flex-class{
    display:flex;
    justify-content: space-around;
  
  }
    .the-flex-class>div{
        margin: 3%;
        width: 30%;
    }
</style>

</head>

<body>
    <a href="/" style="color: maroon"> Back </a>
    
  <div id="img">
    <img src="static/logo.png" style="height: 300px; width: 400px;"></div>

  <div id="Java-script">You can do it </div>


  <div id="allthethings" class="the-flex-class">

    <div>
      <section id="section-c">
        <p>{{questionC}}</p>
      </section>

      <div id="single" onclick="check(this)">{{answerC1}} </div>
<br>
      <div id="multiplayer" onclick="check(this)">{{answerC2}}</div>
<br>
      <div id="c3" onclick="check(this)">{{answerC3}}</div>
<br>
    </div>

    <div>
      <section id="section-b">
        <p>{{questionB}}</p>
      </section>


      <div id="box1" onclick="check(this)">{{answerB1}}</div>
<br>
      <div id="box2" onclick="check(this)">{{answerB2}}</div>
<br>
      <div id="box3" onclick="check(this)">{{answerB3}}</div>
<br>
    </div>

    <div>

      <section id="section-a">
        <p>{{questionA}}</p>
      </section>

      <div id="code1" onclick="check(this)">{{answerA1}}</div>
<br>
      <div id="code2" onclick="check(this)">{{answerA2}}</div>
<br>
      <div id="code3" onclick="check(this)">{{answerA3}}</div>
<br>
    </div>



  </div>
    <script>
    function check(element){
        if (element.id==="code1"|| element.id==="box2" || element.id==="c3"){
            element.style.color="green";
            document.querySelector("#Java-script").innerHTML="Correct ";

        }
        else{
            element.style.color="red";
            document.querySelector("#Java-script").innerHTML="Try again";
        }
        console.log("I have been click!");
        
        
    }
    
    
    </script> 
</body>