<!DOCTYPE>
<head>
    
    
  <link rel="stylesheet" href="JavaScript.css">

</head>
<body>
    <div id="img">      
        <img src="../images/logo.png" style="height: 300px; width: 400px;"></div>
    
    <div id="Java script"> </div>
    
<div id="allthethings">
    
    <p>{{ questionsJ }}</p>
    
	<div id="single"><a href="https://www.google.com/" style="text-decoration: none">Answer 1</a> </div> 
        
  <div id="multiplayer"><a href="https://www.google.com/" style="text-decoration: none">Answer 2</a></div>
    
      <div id="Credits"><a href="https://www.google.com/" style="text-decoration: none">Answer 3</a></div>
    <section id="section-a">
    <p>In order to check if the pattern matches with the string "test", the statement is? </p>
  </section>

</div>
</body>