<!DOCTYPE>
<head>
    
    
  <link rel="stylesheet" href="/static/Python.css">

</head>
<body>
    <div id="img">      
        <img src="../static/logo.png" style="height: 300px; width: 400px;"></div>
    
    <div id="Java script"> </div>
    
<div id="allthethings">
    
    <div id="Javascript"><a href="" style="text-decoration: none">Python</a> </div> 
    
	<div id="single"><a href="https://www.google.com/" style="text-decoration: none">{{Questions.wrong_answer1}}</a> </div> 
        
  <div id="multiplayer"><a href="https://www.google.com/" style="text-decoration: none">{{Questions.wrong_answer2}}</a></div>
    
      <div id="Credits"><a href="https://www.google.com/" style="text-decoration: none">{{Questions.right_answer}}</a></div>
    <section id="section-a">
    <p>{{Questions.question}}</p>
  </section>

</div>
</body>
