p {
  font-family: fantasy;
}

body {
  background:orange;
  
}
/* visited link */
a:visited {
  color: orange;
}

#allthethings {
  margin:auto;
}

#single {
background:maroon;
  text-align:center;
  font-size:30px;
 background-size: 1px 300%;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:orange;
  font-family:shadows into light;
  cursor:pointer; 
}

#single:hover {
  background:#7A0000;
  color:white;
-webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);
}

#multiplayer:hover {
  background:#7A0000;
  color:white;
   
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}

#c3:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
}

#box1:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}

#box2:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}
#box3:hover {
  background:#7A0000;
  color:white;
   
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}
#code1:hover {
  background:#7A0000;
  color:white;
   
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}
#code2:hover {
  background:#7A0000;
  color:white;
   
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}
#code3:hover {
  background:#7A0000;
  color:white;
   
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}

#left {
  background:orange;
  z-index:6;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  border-top:1px solid white;
  
}
#right {
  background:orange;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  z-index:7;
  border-top:1px solid white;
  
}



#single p {
  position:relative;
}

#multiplayer {
  background:maroon;
  position:relative;
  text-align:center;
  font-size:30px;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}
#multiplayer p {
  position:relative;
}

#credits {
  position:relative;
  background:Maroon;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: auto;
    height: auto;
    width: auto;
}
#c3 {
  position:relative;
  background:Maroon;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}
#box1 {
  position:relative;
  background:Maroon;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}
#box2 {
  position:relative;
  background:Maroon;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}
#box3 {
  position:relative;
  background:Maroon;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}

#code1 {
  position:relative;
  background:Maroon;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}
#code2 {
  position:relative;
  background:Maroon;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}
#code3 {
  position:relative;
  background:Maroon;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}
#section-a {
  position:relative;
  background:Maroon;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:#ffca69;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}

#section-b {
  position:relative;
  background:Maroon;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:#ffca69;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
    
    }

#section-c {
  position:relative;
  background:Maroon;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:#ffca69;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
    
}
#Java-script{
    background: Maroon;
    color: orange;
    text-align: center;
    font-size: 50px;
    width: 70%;
    margin: 0 auto;
}